{% load static %}

<div class="row question border border-1" id={{ answer.id }}>
    <div class="col-3">
        <div><img src={{ answer.profile.avatar.url }} class="question-img rounded img-fluid center-block d-block mx-auto"></div>
    </div>
    <div class="col-9">
        <div>
            {{ answer.text }}
        </div>
        <div class="row button-row justify-content-between">
            <div class="col-3">
                <input type="checkbox" class="btn-check" id="answer-{{ answer.id }}" autocomplete="off">
                <label class="btn btn-outline-success js-vote" data-aid="{{ answer.id }}" for="answer-{{ answer.id }}">Like <span
                        class="badge alert-success">{{answer.answerlikes_set.count}}</span></label>
            </div>
            <div class="col-3 correct-checkbox">
                <div class="form-check">
                    <input class="form-check-input js-correct" data-aid="{{ answer.id }}" data-qid={{one_question.id}} type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Correct!
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
