{% load static %}

<div class="row">
	<div class="col-2">
		<a href="#"> <img src="{{ member.avatar.url }}" class="member-img-container rounded img-fluid"> </a>
	</div>
	<div class="col-9">
	<a href="#" class="text-decoration-none">{{ member.user.username }}</a>
	</div>
	<div class="col-1">
	<span class="badge alert-info">{{ member.rating }}</span>
	</div>
</div>