{% load static %}

<div class="row question border border-1 border-success first-answer">
    <div class="col-3">
        <div><img src="{{ best_answer.profile.avatar.url }}" class="question-img rounded img-fluid center-block d-block mx-auto"></div>
    </div>
    <div class="col-9">
        <div>
            {{best_answer.text}}
        </div>
        <div class="row button-row justify-content-between">
            <div class="col-3">
                <input type="checkbox" class="btn-check" id="btn-check-{{best_answer.id}}-outlined" autocomplete="off">
                <label class="btn btn-outline-success js-vote" data-aid="{{ best_answer.id }}" for="btn-check-{{best_answer.id}}-outlined">Like <span
                        class="badge alert-success" value="{{best_answer.answerlikes_set.count}}"></span></label>
            </div>
            <div class="col-3 correct-checkbox">
                <div class="form-check">
                    <input class="form-check-input js-correct" data-aid="{{ best_answer.id }}" data-qid={{one_question.id}} type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Correct!
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
