{% load static %}

<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url "new_questions" %}">AskShibanov</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
        </ul>
        <div class="d-flex">
          <a role="button" href="{% url "ask" %}" class="btn btn-outline-success me-5" type="submit">
            ASK!
          </a>
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url "settings" %}">
                <img src="{{ request.user.profile.avatar.url }}" class="rounded img-fluid" width="20" alt="avatar">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url "logout" %}">Log out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url "login" %}">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url "signup" %}">Sign Up</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>