{% load static %}
<div class="row question">
  <div class="col-3">
      <span class="img-container"><img src="{{ one_question.profile.avatar.url }}" class="question-img rounded img-fluid center-block d-block mx-auto"></span>
  </div>
  <div class="col-9">
      <div><a href="{% url "question" pk=one_question.id %}" class="text-decoration-none"><h2>{{ one_question.title }}</h2></a></div>
      <div>
          {{ one_question.text }}
      </div>
      <div class="row button-row">
          <div class="col-4">
              <a role="button" href="{% url "question" pk=one_question.id %}" class="btn btn-outline-primary">Answers <span class="badge alert-primary">{{one_question.answer_set.count}}</span></a>
          </div>
          <div class="col-3">
              <input type="checkbox" class="btn-check" id="question-{{ one_question.id }}" autocomplete="off">
              <label class="btn btn-outline-success js-vote" data-qid="{{ one_question.id }}" for="question-{{ one_question.id }}">Like <span class="badge alert-success">{{one_question.questionlikes_set.count}}</span></label>
          </div>
          <div class="col-5">
              Tags:
              {% for tag in one_question.tag.all %}
              <a role="button" href="{% url "tag" question_tag=tag.name %}" class="btn btn-light"> {{ tag.name }}</a>
              {% endfor %}
          </div>
      </div>
  </div>
</div>