<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if pag_item.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ pag_item.previous_page_number }}">Previous</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
        <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
        {% if pag_item.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ pag_item.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
