{% load static %}

<div class="row question shadow-lg">
    <div class="col-4">
        <div><img src="{{ one_question.profile.avatar.url }}" class="question-page-question-img rounded img-fluid center-block d-block mx-auto">
        </div>
    </div>
    <div class="col-8">
        <div><h1 class="text-secondary">{{ one_question.title }}</h1></div>
        <div>
            {{ one_question.text }}
        </div>
        <div class="row button-row">
            <div class="col-6">
                <input type="checkbox" class="btn-check" id="btn-check-{{one_question.id}}-outlined" autocomplete="off">
                <label class="btn btn-outline-success js-vote" data-qid="{{ one_question.id }}" for="btn-check-{{one_question.id}}-outlined">Like <span
                        class="badge alert-success">{{one_question.questionlikes_set.count}}</span></label>
            </div>
            <div class="col-6">
                Tags:
                {% for tag in one_question.tag.all %}
              <a role="button" href="{% url "tag" question_tag=tag.name %}" class="btn btn-light"> {{ tag.name }}</a>
              {% endfor %}
            </div>
        </div>
    </div>
</div>
