{% load static %}
<h4>Popular Tags</h4>
<div class="tags-collection right-side-block">
    {% for tag in popular_tags %}
        <a href="{% url "tag" question_tag=tag.name %}"><span class="badge badge-pill alert-success">{{tag.name}}</span></a>
    {% endfor %}
</div>

<h4>Best Members</h4>
<div class="best-members right-side-block">
    {% for member in best_members %}
        {% include "include/best_member.html" %}
    {% endfor %}
</div>