main > .container {
  padding: 60px 15px 0;
}

.question {
	border: 1px grey solid;
	border-radius: 15px;
	padding: 20px;
	margin-bottom: 20px;
}

.question-img {
	width: 120px;
}

.button-row {
	margin-top: 40px;
}

.badge-pill {
	font-size: 1rem;
}

.tags-collection > a {
	display: inline-block;
	padding:5px;
}

.member-img-container {
	width: 20px;
}

.right-side-block {
	margin-bottom: 20px;
}

.question-page-question-img {
	width: 200px;
}

.first-answer {
	margin-top: 50px;
}

.correct-checkbox {
	margin-top: 6px;
}

.question-page-answer {
	margin-top: 30px;
}

.formFile {
	margin-top: 20px;
}

.after-header {
	margin-top: 20px;
	margin-bottom: 20px;
}

.pagination {
	margin-top: 20px;
}