{% load static %}
<!doctype html>
<html lang="en" class="h-100">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>Sticky Footer Navbar Template · Bootstrap v5.0</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>
    <link href="{% static "css/my.css" %}" rel="stylesheet">
</head>


<body class="d-flex flex-column h-100">
{% include "include/dark_navbar.html" %}

<!-- Begin page content -->
<main class="flex-shrink-0">
    <main class="flex-shrink-0">
        <div class="container">
            <div class="row after-header">
                {% block after_header %}
                {% endblock after_header %}
            </div>
            <div class="row">
                <div class="col-8">
                    {% block main_content %}
                    {% endblock main_content %}
                </div>
                <div class="col-4 text-center">
                    {% block right_side_content %}
                    {% endblock right_side_content %}
                </div>
            </div>
        </div>
    </main>
</main>

<footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
</footer>

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "js/csrf.js" %}"></script>

{% block jscode %}{% endblock %}

</body>
</html>