{% extends "extend/base.html" %}

{% load static %}
{% load bootstrap4 %}

{% block main_content %}
<h4>New Question</h4>
<form class="form mt-5" method="post">
		{% csrf_token %}
	{% bootstrap_form form %}
	<br>
	<div class="row mb-3 justify-content-between">
		<button type="submit" class="btn btn-primary col-2 form-button">Ask!</button>
	</div>

	</form>
{% endblock main_content %}

{% block right_side_content %}
	{% include "include/tags_members.html" %}
{% endblock right_side_content %}
