{% extends "extend/base.html" %}
{% load static %}

{% block after_header %}
	<div class="col-2">
        <h4><a href="{% url "new_questions" %}" class="text-decoration-none">New Questions</a></h4>
	</div>
	<div class="col-2">
        <h4>Hot Questions</h4>
	</div>
{% endblock after_header %}

{% block main_content %}
	{% for one_question in questions %}
		{% include "include/one_question.html" %}
	{% endfor %}
	{% include "include/pagination.html" %}
{% endblock main_content %}

{% block right_side_content %}
	{% include "include/tags_members.html" %}
{% endblock right_side_content %}