{% extends "extend/base.html" %}

{% load static %}
{% load bootstrap4 %}

{% block main_content %}
    {% include "include/questionpage_question.html" %}
    {% include "include/best_answer.html" %}
    {% for answer in answers %}
        {% include "include/answer.html" %}
    {% endfor %}
<div class="row mb-3">
    <div class="col-sm-12">
        <form class="form mt-5 form-control border border-secondary border-2 shadow question-page-answer" method="post">
		{% csrf_token %}
	{% bootstrap_form form %}
            <br>
            <div class="row mb-3 justify-content-between">
		<button type="submit" class="btn btn-primary col-2 form-button">Answer!</button>
	</div>
        </form>
    </div>
</div>
{% include "include/pagination.html" %}
{% endblock main_content %}

{% block right_side_content %}
	{% include "include/tags_members.html" %}
{% endblock right_side_content %}

{% block jscode %}
	<script src="{% static "js/vote.js" %}"></script>
{% endblock %}