{% extends "extend/base.html" %}

{% load static %}
{% load bootstrap4 %}

{% block main_content %}
	<h4>Registration</h4>
	<form class="form mt-5" action="/signup/" method="post" novalidate>

		{% csrf_token %}
	{% bootstrap_form form %}

		<br>
		{% buttons %}
	<div class="row mb-3 justify-content-between">
		<button type="submit" class="btn btn-primary col-2 form-button">Sign Up!</button>
	</div>
		{% endbuttons %}
						</form>
{% endblock main_content %}

{% block right_side_content %}
	{% include "include/tags_members.html" %}
{% endblock right_side_content %}